first, get libraries

In [2]:
import numpy
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
df = pd.read_csv('data_science/data.csv', error_bad_lines=False)

In [6]:
df #imported dataset

,externalId,classificationOfInstructionalProgramCode,courseNumber,courseTitle,subjectAbbreviation,departmentExternalId,institutionExternalId,facilityExternalId,description
0,ABROAD HM,NaN,ABROAD HM,Semester Abroad,HMID,HMID,HM,HM,Placeholder course for students studying abroa...
1,ABUS300A CG,NaN,ABUS300A CG,Intro to Art Market Dynamics,GACM,GACM,CG,CG,NaN
2,ABUS300C CG,NaN,ABUS300C CG,Contemporary Art Markets,GACM,GACM,CG,CG,"A partner course to Art Market Dynamics, Conte..."
3,ABUS301 CG,NaN,ABUS301 CG,Legal Foundations Creative Indus,GACM,GACM,CG,CG,NaN
4,ABUS304A CG,NaN,ABUS304A CG,The Gallery Business,GACM,GACM,CG,CG,The Fundamentals of an Art Gallery is a detail...
...,...,...,...,...,...,...,...,...,...
14595,XSPA190 CM,NaN,XSPA190 CM,Senior Thesis in Spanish,MMOD,MMOD,CM,CM,NaN
14596,XSPA190A CM,NaN,XSPA190A CM,Senior Thesis in Spanish,MMOD,MMOD,CM,CM,NaN
14597,XSPA190B CM,NaN,XSPA190B CM,Senior Thesis in Spanish,MMOD,MMOD,CM,CM,NaN
14598,XSPA191 CM,NaN,XSPA191 CM,Senior Research in Spanish,MMOD,MMOD,CM,CM,NaN
14599,XSPA192 CM,NaN,XSPA192 CM,Senior Thesis in Spanish,MMOD,MMOD,CM,CM,NaN

In [7]:
#drop columns that aren't important: classificationOfInstructionalProgramCode, externalId (same as courseNumber), subjectAbbreviation, dsubjectAbbreviation, same as departmentExternalId, institutionExternalId (same as facilityExternalId)
df.drop(['externalId', 'classificationOfInstructionalProgramCode', 'subjectAbbreviation', 'departmentExternalId', 'institutionExternalId'],  axis=1, inplace=True)

In [8]:
#rename columns to be more helpful
df = df.rename(columns={"courseNumber": "Course Number", "courseTitle": "Course Title", "facilityExternalId": "Campus", "description" : "Description"})

In [9]:
#cleaned up df
df

,Course Number,Course Title,Campus,Description
0,ABROAD HM,Semester Abroad,HM,Placeholder course for students studying abroa...
1,ABUS300A CG,Intro to Art Market Dynamics,CG,NaN
2,ABUS300C CG,Contemporary Art Markets,CG,"A partner course to Art Market Dynamics, Conte..."
3,ABUS301 CG,Legal Foundations Creative Indus,CG,NaN
4,ABUS304A CG,The Gallery Business,CG,The Fundamentals of an Art Gallery is a detail...
...,...,...,...,...
14595,XSPA190 CM,Senior Thesis in Spanish,CM,NaN
14596,XSPA190A CM,Senior Thesis in Spanish,CM,NaN
14597,XSPA190B CM,Senior Thesis in Spanish,CM,NaN
14598,XSPA191 CM,Senior Research in Spanish,CM,NaN
14599,XSPA192 CM,Senior Thesis in Spanish,CM,NaN

In [12]:
print("mean of missing values")
df.isna().mean()

mean of missing

Course Number    0.008014
Course Title     0.008562
Campus           0.011507
Description      0.279247
dtype: float64

interesting that ~ 28% of the description data is missing.

In [17]:
#get rid of nan's now!
no_nans_df = df.dropna()

In [20]:
#confirm nans = 0 
no_nans_df.isna().sum()

Course Number    0
Course Title     0
Campus           0
Description      0
dtype: int64

In [21]:
#finished prelim cleaning of ds
no_nans_df

,Course Number,Course Title,Campus,Description
0,ABROAD HM,Semester Abroad,HM,Placeholder course for students studying abroa...
2,ABUS300C CG,Contemporary Art Markets,CG,"A partner course to Art Market Dynamics, Conte..."
4,ABUS304A CG,The Gallery Business,CG,The Fundamentals of an Art Gallery is a detail...
5,ABUS308 CG,Art Bus/On-Site/Field Study Trvl,CG,Art Business on Site introduces students to t...
14,AFRI003 PZ,B(L)ack to Nature: Bird watching,PZ,Why are African Americans underrepresented whe...
...,...,...,...,...
14475,WRIT197L SC,Toics: Looking & Listening,SC,Our focus will be on refining our powers of ob...
14476,WRIT197M SC,Topics: Hybrid Writing,SC,Our focus will be on working with hybrid forms...
14477,WRIT197S SC,Topics in Writ: Short Fiction,SC,197S. Special Topics in Writing: Short Fiction...
14478,WRIT197T SC,Topics in Writing: Long Fiction,SC,197T. Topics in Writing: Workshop in Long Fict...
14479,WRIT197V SC,Spec Top: Story You Are:Fictions,SC,197V. Special Topics in Writing: The Story Tha...