In [94]:
import pandas as pd
import re

data = pd.read_json ("data_5scheduler.json")
data

,title,identifier,description,source,credits,instructors,offered,prerequisites,corequisites,currently_offered,fee
0,Introduction to American Cultures,AMST-103-HM,An interdisciplinary introduction to principal...,HarveyMudd,300,[Staff],,,,False,0
1,Print and American Culture,AMST-115-HM,Covers numerous developments in American print...,HarveyMudd,300,[Anup Gampa],,,,True,0
2,Hyphenated Americans,AMST-120-HM,A focus on the experience of immigrants in the...,HarveyMudd,300,[Balseiro],,,,False,0
3,"Life: Knowledge, Belief, and Cultural Practices",ANTH-110-HM,An exploration of cultural attitudes toward li...,HarveyMudd,300,[de Laet],,,,False,0
4,Introduction to the Anthropology of Science an...,ANTH-111-HM,An introduction to science and technology as c...,HarveyMudd,300,[Marianne De Laet],,,,True,0
...,...,...,...,...,...,...,...,...,...,...,...
4438,Autobiography and Memoir,WRIT-126-PZ,This course will look at the writer’s life as ...,Pitzer,0,[],,,,False,0
4439,Writing the Senior Thesis,WRIT-195-PZ,This course will guide you through the process...,Pitzer,0,[],,,,False,0
4440,IGLAS Seminar,GLAS-185-PZ,,Pitzer,0,[],,,,False,0
4441,Global Local Research Workshop,GLAS-19-4A,,Pitzer,0,[],,,,False,0
4442,Global Local Teaching Workshop,GLAS-19-4B,,Pitzer,0,[],,,,False,0

In [95]:
data["source"].value_counts()

Pomona              1446
Scripps              943
Pitzer               861
ClaremontMckenna     816
HarveyMudd           377
Name: source, dtype: int64

In [89]:
# Remove duplicate courses, most likely multiple sections for the same course

data = data.drop_duplicates("identifier")
data

,title,identifier,description,source,credits,instructors,offered,prerequisites,corequisites,currently_offered,fee
0,Introduction to American Cultures,AMST-103-HM,An interdisciplinary introduction to principal...,HarveyMudd,300,[Staff],,,,False,0
1,Print and American Culture,AMST-115-HM,Covers numerous developments in American print...,HarveyMudd,300,[Anup Gampa],,,,True,0
2,Hyphenated Americans,AMST-120-HM,A focus on the experience of immigrants in the...,HarveyMudd,300,[Balseiro],,,,False,0
3,"Life: Knowledge, Belief, and Cultural Practices",ANTH-110-HM,An exploration of cultural attitudes toward li...,HarveyMudd,300,[de Laet],,,,False,0
4,Introduction to the Anthropology of Science an...,ANTH-111-HM,An introduction to science and technology as c...,HarveyMudd,300,[Marianne De Laet],,,,True,0
...,...,...,...,...,...,...,...,...,...,...,...
4438,Autobiography and Memoir,WRIT-126-PZ,This course will look at the writer’s life as ...,Pitzer,0,[],,,,False,0
4439,Writing the Senior Thesis,WRIT-195-PZ,This course will guide you through the process...,Pitzer,0,[],,,,False,0
4440,IGLAS Seminar,GLAS-185-PZ,,Pitzer,0,[],,,,False,0
4441,Global Local Research Workshop,GLAS-19-4A,,Pitzer,0,[],,,,False,0
4442,Global Local Teaching Workshop,GLAS-19-4B,,Pitzer,0,[],,,,False,0

In [90]:
# Courses rgar require a fee
data.loc[data["fee"] > 0]

,title,identifier,description,source,credits,instructors,offered,prerequisites,corequisites,currently_offered,fee
9,Photography,ART-033-HM,Approaching the medium from an artistic perspe...,HarveyMudd,300,[Fandell],,ART002 HM,,False,150
199,Building Los Angeles,EA-174-HM,This course explores the complex network of ur...,HarveyMudd,300,[Groves],,,,False,50
287,Digital Cinema: Experimental Animation,MS-170-HM,"Intermediate/advanced video course, exploring ...",HarveyMudd,300,[Katherine Breeden],,MS182 HM,,True,75
290,Introduction to Video Art,MS-182-HM,This course is an introduction to video art th...,HarveyMudd,300,[Mayeri],,MS 049 PO or MS 049 PZ or MS 049 SC or MS 051 ...,,False,75
4173,College Inside-Out,ORST-161-PZ,College Inside-Out represents some of our grea...,Pitzer,100,[Barbara Junisbai],,,,True,15

In [91]:
# Total courses offered by each college

data["source"].value_counts()

Pomona              1444
ClaremontMckenna     815
Pitzer               814
Scripps              784
HarveyMudd           377
Name: source, dtype: int64

In [98]:
# Total majors by which courses are categorized 

data["identifier"].value_counts()
course_names = data["identifier"].values.tolist()
course_names

course_string = ' '.join(course_names)
#print(course_string)


by_major = re.findall(" [A-Z]+[^-]", course_string)
majors = list(Counter(by_major).keys())
len(majors)

107

In [93]:
# Total courses by major

from collections import Counter

major_freq = Counter(by_major)
major_freq

Counter({' AMST': 21,
         ' ANTH': 113,
         ' ARHI': 59,
         ' ART': 114,
         ' ASAM': 53,
         ' ASTR': 23,
         ' BIOL': 156,
         ' CHEM': 107,
         ' CSCI': 78,
         ' CSMT': 3,
         ' ECON': 165,
         ' EDUC': 2,
         ' ENGR': 48,
         ' EA': 80,
         ' GEOG': 3,
         ' HIST': 289,
         ' HSA': 3,
         ' ID': 19,
         ' LEAD': 10,
         ' LIT': 98,
         ' MATH': 194,
         ' MCBI': 4,
         ' MS': 108,
         ' MUS': 179,
         ' PHIL': 149,
         ' PHYS': 92,
         ' POST': 81,
         ' PSYC': 210,
         ' RLST': 112,
         ' SOSC': 3,
         ' STS': 14,
         ' WRIT': 31,
         ' AFRI': 21,
         ' ARBC': 16,
         ' ARBT': 4,
         ' CLAS': 42,
         ' DS': 4,
         ' DGHM': 1,
         ' FHS': 1,
         ' FWS': 1,
         ' FREN': 74,
         ' GOVT': 113,
         ' KORE': 7,
         ' KRNT': 1,
         ' FIN': 17,
         ' MSL': 11,
         ' NEUR': 27,
         ' PPE': 12,
         ' PONT': 1,
         ' PORT': 11,
         ' INT': 1,
         ' SPAN': 115,
         ' SPCH': 2,
         ' ASIA': 6,
         ' CHST': 26,
         ' CHIN': 20,
         ' CHNT': 7,
         ' GREK': 7,
         ' LATN': 10,
         ' DANC': 89,
         ' ENGL': 160,
         ' GWS': 18,
         ' GEOL': 24,
         ' GERM': 42,
         ' GRMT': 17,
         ' HUM': 2,
         ' IR': 9,
         ' JAPN': 22,
         ' JPNT': 10,
         ' LAMS': 2,
         ' LAST': 7,
         ' LGCS': 37,
         ' MES': 1,
         ' MOBI': 8,
         ' PE': 90,
         ' POLI': 115,
         ' PPA': 6,
         ' REL': 10,
         ' RLIT': 1,
         ' RUSS': 21,
         ' RUST': 16,
         ' SOC': 83,
         ' THEA': 53,
         ' AWS': 2,
         ' ARCN': 7,
         ' CHLT': 16,
         ' CORE': 3,
         ' CLST': 1,
         ' ENGl': 1,
         ' FLAN': 3,
         ' FGSS': 17,
         ' HMSC': 12,
         ' ITAL': 17,
         ' EEP': 1,
         ' WGS': 3,
         ' CREA': 13,
         ' FS': 24,
         ' GFS': 2,
         ' HSID': 9,
         ' CGS': 29,
         ' MLLC': 11,
         ' MCSI': 1,
         ' CASA': 8,
         ' ORST': 23,
         ' COGS': 2,
         ' Ps': 1,
         ' GLAS': 3})