In [45]:
#Importing libraries
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import warnings
warnings.filterwarnings('ignore')

In [46]:
error_lines_bad = False
data = pd.read_json("data_5scheduler.json")
data

,title,identifier,description,source,credits,instructors,offered,prerequisites,corequisites,currently_offered,fee
0,Introduction to American Cultures,AMST-103-HM,An interdisciplinary introduction to principal...,HarveyMudd,300,[Staff],,,,False,0
1,Print and American Culture,AMST-115-HM,Covers numerous developments in American print...,HarveyMudd,300,[Anup Gampa],,,,True,0
2,Hyphenated Americans,AMST-120-HM,A focus on the experience of immigrants in the...,HarveyMudd,300,[Balseiro],,,,False,0
3,"Life: Knowledge, Belief, and Cultural Practices",ANTH-110-HM,An exploration of cultural attitudes toward li...,HarveyMudd,300,[de Laet],,,,False,0
4,Introduction to the Anthropology of Science an...,ANTH-111-HM,An introduction to science and technology as c...,HarveyMudd,300,[Marianne De Laet],,,,True,0
...,...,...,...,...,...,...,...,...,...,...,...
4438,Autobiography and Memoir,WRIT-126-PZ,This course will look at the writer’s life as ...,Pitzer,0,[],,,,False,0
4439,Writing the Senior Thesis,WRIT-195-PZ,This course will guide you through the process...,Pitzer,0,[],,,,False,0
4440,IGLAS Seminar,GLAS-185-PZ,,Pitzer,0,[],,,,False,0
4441,Global Local Research Workshop,GLAS-19-4A,,Pitzer,0,[],,,,False,0
4442,Global Local Teaching Workshop,GLAS-19-4B,,Pitzer,0,[],,,,False,0

In [47]:
data['index'] = range(1, len(data)+1)
data

,title,identifier,description,source,credits,instructors,offered,prerequisites,corequisites,currently_offered,fee,index
0,Introduction to American Cultures,AMST-103-HM,An interdisciplinary introduction to principal...,HarveyMudd,300,[Staff],,,,False,0,1
1,Print and American Culture,AMST-115-HM,Covers numerous developments in American print...,HarveyMudd,300,[Anup Gampa],,,,True,0,2
2,Hyphenated Americans,AMST-120-HM,A focus on the experience of immigrants in the...,HarveyMudd,300,[Balseiro],,,,False,0,3
3,"Life: Knowledge, Belief, and Cultural Practices",ANTH-110-HM,An exploration of cultural attitudes toward li...,HarveyMudd,300,[de Laet],,,,False,0,4
4,Introduction to the Anthropology of Science an...,ANTH-111-HM,An introduction to science and technology as c...,HarveyMudd,300,[Marianne De Laet],,,,True,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...
4438,Autobiography and Memoir,WRIT-126-PZ,This course will look at the writer’s life as ...,Pitzer,0,[],,,,False,0,4439
4439,Writing the Senior Thesis,WRIT-195-PZ,This course will guide you through the process...,Pitzer,0,[],,,,False,0,4440
4440,IGLAS Seminar,GLAS-185-PZ,,Pitzer,0,[],,,,False,0,4441
4441,Global Local Research Workshop,GLAS-19-4A,,Pitzer,0,[],,,,False,0,4442
4442,Global Local Teaching Workshop,GLAS-19-4B,,Pitzer,0,[],,,,False,0,4443

In [48]:
data.shape

(4443, 12)

In [49]:
data.head(2)

,title,identifier,description,source,credits,instructors,offered,prerequisites,corequisites,currently_offered,fee,index
0,Introduction to American Cultures,AMST-103-HM,An interdisciplinary introduction to principal...,HarveyMudd,300,[Staff],,,,False,0,1
1,Print and American Culture,AMST-115-HM,Covers numerous developments in American print...,HarveyMudd,300,[Anup Gampa],,,,True,0,2

In [50]:
data.columns

Index(['title', 'identifier', 'description', 'source', 'credits',
       'instructors', 'offered', 'prerequisites', 'corequisites',
       'currently_offered', 'fee', 'index'],
      dtype='object')

In [51]:
# for row in data["instructors"]:
#     data["instructors"][row] = ''.join(row)
# data
data['instructors'] = [','.join(map(str, l)) for l in data['instructors']]
data

,title,identifier,description,source,credits,instructors,offered,prerequisites,corequisites,currently_offered,fee,index
0,Introduction to American Cultures,AMST-103-HM,An interdisciplinary introduction to principal...,HarveyMudd,300,Staff,,,,False,0,1
1,Print and American Culture,AMST-115-HM,Covers numerous developments in American print...,HarveyMudd,300,Anup Gampa,,,,True,0,2
2,Hyphenated Americans,AMST-120-HM,A focus on the experience of immigrants in the...,HarveyMudd,300,Balseiro,,,,False,0,3
3,"Life: Knowledge, Belief, and Cultural Practices",ANTH-110-HM,An exploration of cultural attitudes toward li...,HarveyMudd,300,de Laet,,,,False,0,4
4,Introduction to the Anthropology of Science an...,ANTH-111-HM,An introduction to science and technology as c...,HarveyMudd,300,Marianne De Laet,,,,True,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...
4438,Autobiography and Memoir,WRIT-126-PZ,This course will look at the writer’s life as ...,Pitzer,0,,,,,False,0,4439
4439,Writing the Senior Thesis,WRIT-195-PZ,This course will guide you through the process...,Pitzer,0,,,,,False,0,4440
4440,IGLAS Seminar,GLAS-185-PZ,,Pitzer,0,,,,,False,0,4441
4441,Global Local Research Workshop,GLAS-19-4A,,Pitzer,0,,,,,False,0,4442
4442,Global Local Teaching Workshop,GLAS-19-4B,,Pitzer,0,,,,,False,0,4443

In [52]:
#Creating data with important features
imp_features = ['title', 'identifier', 'description', 'instructors']
data1 = data[imp_features]
data1.head()

,title,identifier,description,instructors
0,Introduction to American Cultures,AMST-103-HM,An interdisciplinary introduction to principal...,Staff
1,Print and American Culture,AMST-115-HM,Covers numerous developments in American print...,Anup Gampa
2,Hyphenated Americans,AMST-120-HM,A focus on the experience of immigrants in the...,Balseiro
3,"Life: Knowledge, Belief, and Cultural Practices",ANTH-110-HM,An exploration of cultural attitudes toward li...,de Laet
4,Introduction to the Anthropology of Science an...,ANTH-111-HM,An introduction to science and technology as c...,Marianne De Laet

In [53]:
#Checking missing values
data1.isnull().sum()

title          0
identifier     0
description    0
instructors    0
dtype: int64

In [54]:
#Replacing missing values
missing_var = data1.isnull().sum().keys()
for i in missing_var:
    data1[i] = data1[i].fillna('')

In [55]:
#Checking missing values
data1.isnull().sum()

title          0
identifier     0
description    0
instructors    0
dtype: int64

In [56]:
#Combining the values of the all features
data1['Combined_features'] = data1['title']+' '+data1['identifier']+' '+data1['instructors']+' '+data1['description']

In [57]:
#Checking first five values of the combined features
data1['Combined_features'][0:5]

0    Introduction to American Cultures AMST-103-HM ...
1    Print and American Culture AMST-115-HM Anup Ga...
2    Hyphenated Americans AMST-120-HM Balseiro A fo...
3    Life: Knowledge, Belief, and Cultural Practice...
4    Introduction to the Anthropology of Science an...
Name: Combined_features, dtype: object

In [58]:
#Creating an object of count victorizer
cv = CountVectorizer()

#Creating count vectorization of combined features
count_matrix = cv.fit_transform(data1['Combined_features'])

#Computing cosine similarity of count matrix
cosin_sim = cosine_similarity(count_matrix)

In [59]:
#Checking first five values cosine similarity
cosin_sim[5]

array([0.07902633, 0.24987802, 0.56389971, ..., 0.        , 0.        ,
       0.        ])

In [60]:
#Defining function for course recommendation system
def get_recommender(course_title):
    #Finding an index number of given course title which you like most
    course_index = data[data.title==course_title]['index'].values[0]
    
    #Finding cosine similarity score with respect to an index number of given course title which you like most
    similar_courses = list(enumerate(cosin_sim[course_index]))

    #Sorting cosine similarity scores in descending order
    sorted_similar_courses = sorted(similar_courses,key=lambda x:x[1], reverse=True)
    
    #Extracting index numbers from sorted cosine similarity scores
    course_indices = [i[0] for i in sorted_similar_courses]
    
    #Extracting course title with respect to extracted index numbers from sorted cosine similarity scores
    courses_name = data['title'].iloc[course_indices]
    
    #Creating dataframe of recommended courses name and resetting the index number
    recommended_courses = pd.DataFrame()
    recommended_courses['Recommended Courses'] = courses_name
    recommended_courses = recommended_courses.reset_index(drop = True)
    
    #Showing the result
    return recommended_courses.iloc[0:10]

In [62]:
get_recommender('Linear Algebra')

                            Recommended Courses
0                        Differential Equations
1                        Differential Equations
2                        Differential Equations
3                      Dynamics of Rigid Bodies
4           Differential Equations and Modeling
5                             Dynamical Systems
6                          Scientific Computing
7                          Scientific Computing
8  Computational Partial Differential Equations
9                            Numerical Analysis

In [61]:
get_recommender('Introduction to American Cultures')

                                 Recommended Courses
0                         Print and American Culture
1                                American Inequality
2  Literature and Popular Culture in the Antebell...
3                               American Women Poets
4                            Postwar American Poetry
5                   Interdisciplinary Special Topics
6                  Introduction to American Cultures
7     Culture and Society in Weimar and Nazi Germany
8                            Race and Visual Culture
9  Tradition and Transformation in Native North A...

In [63]:
get_recommender('Discrete Math and Functional Programming')

                                 Recommended Courses
0          Data Structures and Advanced Programming.
1           Data Structures and Advanced Programming
2            Data Structures and Program Development
3                   Fundamentals of Computer Science
4                     Data Structures and Algorithms
5                                High Power Rocketry
6        Principles and Practice of Computer Science
7     Interculturality and Bilingualism in the Andes
8  Heretics, Deviants, and "Others" in Early Chri...
9     Mathematics for Teachers II: Geometry and Data